language: python
sudo: false
matrix:
  include:
    - python: 2.7
      env: TOX_ENV=py27-lint
    - python: 3.5
      env: TOX_ENV=py35-lint
    - python: 2.7
      env: TOX_ENV=py27-lint-readme
    - python: 3.5
      env: TOX_ENV=py35-pytest
      services:
      - docker
    - python: 2.7
      env: TOX_ENV=py27-pytest
      services:
      - docker
    - python: 2.7
      env: TOX_ENV=py27
      services:
        - docker
    - python: 3.5
      env: TOX_ENV=py35
      services:
        - docker


install:
    - pip install tox
    - python setup.py install

script:
    - tox -e $TOX_ENV


