server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    # compress responses whenever possible
    gzip on;
    gzip_http_version 1.1;
    gzip_vary on;
    gzip_comp_level 6;
    gzip_proxied any;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_buffers 16 8k;

    location / {
        include uwsgi_params;
        # allow up to 3 minutes for Galaxy to respond to slow requests before timing out
        uwsgi_read_timeout 180;
        # maximum file upload size
        uwsgi_pass uwsgi://{{galaxy_web}}:3031;
        uwsgi_param Host $host;
        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param X-Forwarded-For $proxy_add_x_forwarded_for;
        uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;
    }
}
