name: Python CI
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.6']
        tox-action:
          - lint
          - pytest
          - integration
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox coveralls
      - name: Test with tox
        run: |
          TOXENV=$(echo $TOXENV | sed 's/\.//') tox
        env:
          TOXENV: py${{ matrix.python-version }}-${{ matrix.tox-action }}
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
          submodules: true
      - uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools
          python3 -m pip install --upgrade twine wheel
      - name: Create and check packages
        run: |
          make dist
      - name: Publish to PyPI
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.EPHEMERIS_PYPI_TOKEN }}
